<div class="wrapper">
  <div class="content-banner">
    <div class="abc">
      <div class="banner-left">
        <div>
          <h2>Rice drink with vitamin D3</h2>
          <p>Up to 30% off your first order</p>
          <div>
            <input type="text" placeholder="Enter your email address"/>
            <div>Subcribe</div>
          </div>
        </div>
        <div>
          <img src="https://www.pngguru.in/storage/uploads/images/Colourful%20leaf%20free%20png%20image%20download_1650276218_354457338.webp" alt="img"/>
        </div>
      </div>
      <div class="banner-right">
        <div>
          <h2>Buy with</h2>
          <div>free shiping</div>
          <div>
            <span>
              Shop Now
              <i class="pi pi-arrow-right"></i>
            </span>
          </div>
        </div>
        <div>
          <img src="https://www.pngguru.in/storage/uploads/images/Colourful%20leaf%20free%20png%20image%20download_1650276218_354457338.webp" alt="img" />
        </div>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="shop-by-categories">
      <div>
        <div>
          <p>Shop <i>by Categories</i></p>
        </div>
        <div>
          <span>
            <i class="pi pi-arrow-left"></i>
            <i class="pi pi-arrow-right"></i>
          </span>
        </div>
      </div>
      <div>
        <div>
          <i class="pi pi-slack"></i>
          <p>Sets</p>
        </div>
        <div>
          <i class="pi pi-slack"></i>
          <p>Fruits</p>
        </div>
        <div>
          <i class="pi pi-slack"></i>
          <p>Vegetables</p>
        </div>
        <div>
          <i class="pi pi-slack"></i>
          <p>Greenery</p>
        </div>
        <div>
          <i class="pi pi-slack"></i>
          <p>Fungi</p>
        </div>
        <div>
          <i class="pi pi-slack"></i>
          <p>Graceries</p>
        </div>
        <div>
          <i class="pi pi-slack"></i>
          <p>Sweets</p>
        </div>
        <div>
          <i class="pi pi-slack"></i>
          <p>Drink</p>
        </div>
      </div>
    </div>
  </div>
</div>