<div class="wrapper">
  <div class="main-header">
    <div class="header-up">
      <h3 class="brandname">Nolorn</h3>
      <div class="input-field">
        <div class="field-left">
          <span>
            All categories
            <i class="pi pi-chevron-down"></i>
          </span>
        </div>
        <div class="field-right">
          <input type="text" placeholder="Search..."/>
          <i class="pi pi-search"></i>
        </div>
      </div>
      <div class="categories">
        <span>
          <i class="pi pi-location"></i>
        </span>
        <p>All Categories</p>
        <span>
          <i class="pi pi-chevron-down"></i>
        </span>
      </div>
      <div class="header-option">
          <div class="option-item">
            <div style="position: relative;">
              <i class="pi pi-heart"></i>
              <span>1</span>
            </div>
            Wishlist
          </div>
          <div class="option-item">
            <div style="position: relative;">
              <i class="pi pi-shopping-cart"></i>
              <span>2</span>
            </div>
            Cart
          </div>
          <div class="option-item">
            <i class="pi pi-user"></i>
            Account
          </div>
      </div>
    </div>
  </div>
  <hr>
  <div>

  </div>
</div>