.wrapper {
  width: 100%;
  .content { 
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .content-item {
      > * {
        margin: 20px 0;
        color: rgb(135, 135, 190);
      }
      h1 {
        margin-bottom: 30px;
        color: black;
      }
      h3 {
        color: rgb(83, 61, 61);
      }
      .social {
        > * {
          margin: 0 5px;
        }
        > *:first-child {
          margin-left: 0;
        }
        > *:last-child {
          margin-right: 0px;
        }
        margin: 10px 0;
      }
      img {
        height: 50px;
        width: 200px;
      }
    }
  }
}